@plugin "flowbite/plugin";

@source "../node_modules/flowbite";
@source "../node_modules/layerchart";
@source "../node_modules/svelte-ux";

@import "tailwindcss";

@theme {
  --color-primary-50: #fff5f2;
  --color-primary-100: #fff1ee;
  --color-primary-200: #ffe4de;
  --color-primary-300: #ffd5cc;
  --color-primary-400: #ffc3b2;
  --color-primary-500: #ffa48b;
  --color-primary-600: #ff8b6b;
  --color-primary-700: #ff705c;
  --color-primary-800: #ff5542;
  --color-primary-900: #ff3e2f;

  --color-accent-50: oklch(0.9777777777777777 0.0114 40);
  --color-accent-100: oklch(0.9355555555555556 0.0331 40);
  --color-accent-200: oklch(0.8511111111111112 0.0774 40);
  --color-accent-300: oklch(0.7666666666666667 0.1275 40);
  --color-accent-400: oklch(0.6822222222222223 0.1547 40);
  --color-accent-500: oklch(0.5977777777777777 0.1355 40);
  --color-accent-600: oklch(0.5133333333333333 0.1164 40);
  --color-accent-700: oklch(0.4288888888888889 0.0974 40);
  --color-accent-800: oklch(0.34444444444444444 0.0782 40);
  --color-accent-900: oklch(0.26 0.0588 40);
  --color-accent-950: oklch(0.2177777777777777 0.0491 40);
}

@layer base {
  h1 {
    font-size: var(--text-2xl);
    font-weight: 600;
  }
  h2 {
    font-size: var(--text-xl);
    font-weight: 600;
  }
  p {
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
  .text-2xs {
    font-size: 0.625rem;
    line-height: 0.75rem;
  }
}

@theme {
  --color-events: #da1f3d;
  --color-hours: #1788c3;
  --color-mask: #ed6937;
  --color-score: #ffc344;
  --color-seal: #6e308f;

  --color-scheme: "light";
  --color-primary: #ff8b6b;
  --color-primary-content: oklch(98.71% 0.0106 275.75);
  --color-secondary: #1a56db;
  --color-secondary-content: oklch(98.71% 0.0106 342.55);
  --color-accent: oklch(76.76% 0.184 183.61);
  --color-neutral: #2b3440;
  --color-neutral-content: #d7dde4;
  --color-surface-100: oklch(100% 0 0);
  --color-surface-200: #f2f2f2;
  --color-surface-300: #e5e6e6;
  --color-surface-content: #1f2937;
}
